 <%= image_tag(product.image_url, class:"img-responsive")%>
<% cache product do %>
<h2> <%= product.name %></h2>
<% logger.debug "checking debug - product: #{product.name}" %>
<p> <%= product.description %></p>
<p> Color: <%= product.colour %></p>
<p> Price: <%=product.price%> €</p>
<%= link_to 'Show', product %>
<%= link_to 'Edit', edit_product_path(product) %>
<%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= #product.comments_count %>
<% end %>