<p id="notice"><%= notice %></p>

<div class="container-fluid">
  <div class="row">
    <div class ="col-sm-2 col-md-4">
      <div class="thumbnail">
         <%= image_tag(@product.image_url, class:"img-responsive")%>
         <div class="caption">
          
          <h3 class="text-center">
            <strong><%= @product.name %></strong>
          </h3>

          <h5 class="text-center">
            <span class="glyphicon glyphicon-plus"></span><strong> Description:</strong>
            <%= @product.description %>
          </h5>

          <h5 class="text-center">
          	<span class="glyphicon glyphicon-eye-open"></span><strong> Color:</strong>
          	<%= @product.colour%>
          </h5>

          <h6 class="text-center">
          	<span class="glyphicon glyphicon-euro"></span><strong> Price:</strong>
          	<%= @product.price%>
          </h6>
        
         <p align="center">Average Rating: <div align="center" class="rated" data-score="<%= @product.average_rating %>"></div> </p>

          <h6 class="text-center">
            <span class="glyphicon glyphicon-comment"></span><strong> Comments:</strong>
          </h6>
          <%= render 'new_comment' %>
          <%= render 'comments' %>
   
          <%= form_tag "/payments/create" do %>
            <%= render partial: "shared/stripe_checkout_button" %>
          <% end %>

   
          <p class="text-center">
          <%= link_to 'Edit', edit_product_path(@product), class: "btn btn-primary" %> |
          <%= link_to 'Back', products_path, class: "btn btn-default" %>
        </p>
       </div>
      </div>
    </div>
  </div>
</div>
